<h1>Twoje wszystkie zajęcia</h1><br>

<table id="register_table" class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
  <th>ID</th>
      <th>Nazwa</th>
      <th>ID uczestnika</th>
      <th>Prowadzący</th>
      <th>Data</th>
      <th>Ilość miejsc</th>
      <th></th>
  </tr>
 </thead> 

 <tbody>
  <% @schedule.each do |schedule| %>
    <tr>
      <td><%= schedule.id %></td>
      <td><%= schedule.name %></td>
      <td><%= current_user.id %></td>
      <td><%= schedule.teacher.firstname %><%= " " %><%= schedule.teacher.lastname %></td>
      <td><%= schedule.date.strftime("%d-%m-%Y %H:%M") %></td>
      <td><%= @reserv %><%= "/" %> <%= schedule.amount %></td>
      <td><a href="" class="btn btn-success">Zapisz się</a></td>
    </tr>
  <% end %>
  </tbody> 
</table><br>



