<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted"><%= link_to "Fitness", root_path %></h3>
    <h5 class="muted">Prosty system do zarządzania swoim Fitnessem</h5>
  </div>
  <hr />
</div>

<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <a class="close" href="#">×</a>
    <%= message %>
  </div>
<% end %>


<%= yield %>

</body>
</html>
