<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% flash.each do |type, message| %>
    <div id="flash" class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
      <%= message %>
    </div>
  <% end %>
</div>


<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      <a class="navbar-brand" href="#">Fitness</a>
      <ul class="nav navbar-nav">
         <li><%= link_to 'Strona Główna',  root_path %></li>
         <li><a href="#">O nas</a></li>     
      </ul>
      <ul class="nav navbar-nav pull-right">
        <%= render 'layouts/user_header' %>
      </ul>
  </div>    
</div>

<%= yield %>

</body>
</html>
